另一个项目/OCV_20210524_现场最新博纳克斯/Web References/YL_WebService/index.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kinte.com/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://kinte.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kinte.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYLDB2ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetYLDB2ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYLDB2ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYLZDDB2ConnectionString">
        <s:complexType />
      </s:element>
      <s:element name="GetYLZDDB2ConnectionStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYLZDDB2ConnectionStringResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYLDB2ConnectionString_VB6">
        <s:complexType />
      </s:element>
      <s:element name="GetYLDB2ConnectionString_VB6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYLDB2ConnectionString_VB6Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetYLDB2ConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetYLDB2ConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetYLDB2ConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetYLDB2ConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetYLZDDB2ConnectionStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetYLZDDB2ConnectionString" />
  </wsdl:message>
  <wsdl:message name="GetYLZDDB2ConnectionStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetYLZDDB2ConnectionStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetYLDB2ConnectionString_VB6SoapIn">
    <wsdl:part name="parameters" element="tns:GetYLDB2ConnectionString_VB6" />
  </wsdl:message>
  <wsdl:message name="GetYLDB2ConnectionString_VB6SoapOut">
    <wsdl:part name="parameters" element="tns:GetYLDB2ConnectionString_VB6Response" />
  </wsdl:message>
  <wsdl:portType name="indexSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">HelloWorld</wsdl:documentation>
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据库YL_DB2的连接字符串</wsdl:documentation>
      <wsdl:input message="tns:GetYLDB2ConnectionStringSoapIn" />
      <wsdl:output message="tns:GetYLDB2ConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYLZDDB2ConnectionString">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">获取数据库YL_ZD_DB2的连接字符串</wsdl:documentation>
      <wsdl:input message="tns:GetYLZDDB2ConnectionStringSoapIn" />
      <wsdl:output message="tns:GetYLZDDB2ConnectionStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString_VB6">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">VB6获取数据库YL_DB2的连接字符串</wsdl:documentation>
      <wsdl:input message="tns:GetYLDB2ConnectionString_VB6SoapIn" />
      <wsdl:output message="tns:GetYLDB2ConnectionString_VB6SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="indexSoap" type="tns:indexSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://kinte.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString">
      <soap:operation soapAction="http://kinte.com/GetYLDB2ConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLZDDB2ConnectionString">
      <soap:operation soapAction="http://kinte.com/GetYLZDDB2ConnectionString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString_VB6">
      <soap:operation soapAction="http://kinte.com/GetYLDB2ConnectionString_VB6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="indexSoap12" type="tns:indexSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://kinte.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString">
      <soap12:operation soapAction="http://kinte.com/GetYLDB2ConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLZDDB2ConnectionString">
      <soap12:operation soapAction="http://kinte.com/GetYLZDDB2ConnectionString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetYLDB2ConnectionString_VB6">
      <soap12:operation soapAction="http://kinte.com/GetYLDB2ConnectionString_VB6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="index">
    <wsdl:port name="indexSoap" binding="tns:indexSoap">
      <soap:address location="http://10.37.59.150:8090/index.asmx" />
    </wsdl:port>
    <wsdl:port name="indexSoap12" binding="tns:indexSoap12">
      <soap12:address location="http://10.37.59.150:8090/index.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>